## For each of the following questions, formulate a null and alternative hypothesis (be as specific as you can be), then give an example of what a true positive, true negative, type I and type II errors would look like. Note that some of the questions are intentionally phrased in a vague way. It is your job to reword these as more precise questions that could be tested.

### 1. Has the network latency gone up since we switched internet service providers?

In [ ]:
# H0 = The time for computer ping is the same or worse.
# Ha = The time for computer ping is better/faster.

True Positive
    small p-value -- < alpha (.001)
    reject H0
    
    The data shows that suvery score did improve
    avg survey score before switching internet service: 65 ms
    avg survey score after switching internet services: 60 ms

False Positive
    
    small p-value
    reject H0
    
    Test was re-taken while internet activity had significantly increased.
    Causing an increase in ping time.
True Negative
    
    highter p-value
    fail to reject H0
    
    we found no difference in survey scores did improve
    avg survey score before switching internet service: 65 ms
    avg survey score after switching internet services: 60 ms


False Negative
    
    higher p-value
    faile to rejct H0
    
    test was originally taken while internet activity had siginificantly increased, causing an increase in ping time
    
    avg survey score before switching internet service: 65 ms
    avg survey score after switching internet services: 60 ms

### 2. Is the website redesign any good?

In [ ]:
# H0 = The avg visits is equal or has decreased.
# Ha = The avg visits has increased.

True Positive
   
    small p-value -- < alpha (.001)
    reject H0
    
    The data shows that suvery score did improve the website
    avg visits before redesign: 1000
    avg visits after redesign: 5000

False Positive
    
    small p-value
    reject H0
    
    The data shows that suvery score did improve the website
    avg visits before redesign: 1000
    avg visits after redesign: 5000
    
    Second test was done on Cyber Monday
True Negative
    
    highter p-value
    fail to reject H0

    The data shows that the website did worse after redesign
    avg visits before redesign: 5000
    avg visits after redesign: 1000


False Negative
    
    higher p-value
    faile to rejct H0
   
    The data shows that the website did worse after redesign, website crashed during re-test
    avg visits before redesign: 5000
    avg visits after redesign: 1000

### 3. Is our television ad driving more sales?

In [ ]:
# H0 = Monthly avg sales stayed the same or decreased after airing ad
# Ha = Monthly avg sales increased after airing ad

True Positive
   
    small p-value -- < alpha (.001)
    reject H0
    
    The data shows that sales increased after airing ad
    avg monthly sales before ad: 10000
    avg monthly sales after ad: 15000

False Positive
    
    small p-value
    reject H0
    
    The data shows that sales increased after airing ad
    avg monthly sales before ad: 10000
    avg monthly sales after ad: 15000
    
    competitor across street closed after test
True Negative
    
    highter p-value
    fail to reject H0

    The data shows that sales decreased after airing ad
    avg monthly sales before ad: 15000
    avg monthly sales after ad: 10000

False Negative
    
    higher p-value
    faile to rejct H0
   
    The data shows that sales decreased after airing ad
    avg monthly sales before ad: 15000
    avg monthly sales after ad: 10000
    
    extreme weather caused lower customer traffic

In [ ]:
stats.ttest_ind_from_stats()

## Ace Realty wants to determine whether the average time it takes to sell homes is different for its two offices. A sample of 40 sales from office #1 revealed a mean of 90 days and a standard deviation of 15 days. A sample of 50 sales from office #2 revealed a mean of 100 days and a standard deviation of 20 days. Use a .05 level of significance.

In [20]:
mean1 = 90
std1 = 15
size1 = 40
mean2 = 100
std2 = 20
size2 = 50
α=0.05
stats.ttest_ind_from_stats(mean1, std1, size1, mean2, std2, size2)

Ttest_indResult(statistic=-2.6252287036468456, pvalue=0.01020985244923939)

In [16]:
office1 = stats.norm(mean1, std1).rvs(size1)

In [17]:
office2 = stats.norm(mean2, std2).rvs(size2)

In [18]:
t, p = stats.ttest_ind(office1,office2, equal_var=False)

In [21]:
t, p, α

(-2.771133563984825, 0.006826396044346134, 0.05)

In [24]:
if (p/2 < α):
    print("We reject the null hypothesis")
else:
    print("We fail to reject the null hypothesis")

We reject the null hypothesis

## Load the mpg dataset and use it to answer the following questions:

In [2]:
import numpy as np
import seaborn as sns
import scipy.stats as stats
import pandas as pd
import matplotlib.pyplot as plt

In [25]:
from pydataset import data
mpg = data('mpg')

### a. Is there a difference in fuel-efficiency in cars from 2008 vs 1999?

In [26]:
mpg.head()

  manufacturer model  displ  year  cyl       trans drv  cty  hwy fl    class
1         audi    a4    1.8  1999    4    auto(l5)   f   18   29  p  compact
2         audi    a4    1.8  1999    4  manual(m5)   f   21   29  p  compact
3         audi    a4    2.0  2008    4  manual(m6)   f   20   31  p  compact
4         audi    a4    2.0  2008    4    auto(av)   f   21   30  p  compact
5         audi    a4    2.8  1999    6    auto(l5)   f   16   26  p  compact

In [27]:
# H0: there is no difference in fuel-effifiency in cars from 2008 vs 1999
# Ha: there is a difference in fuel-effifiency in cars from 2008 vs 1999

In [28]:
mpg['avg_fuel'] = (mpg['hwy']+mpg['cty'])/2

In [38]:
mpg.head()

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class,avg_fuel
1,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact,23.5
2,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact,25.0
3,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact,25.5
4,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact,25.5
5,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact,21.0

In [31]:
avg2008 = mpg[mpg.year == 2008].avg_fuel
avg1999 = mpg[mpg.year == 1999].avg_fuel

In [32]:
t,p = stats.ttest_ind(avg2008, avg1999, equal_var = False)

In [33]:
t,p

(-0.21960177245940962, 0.8263750772060638)

In [34]:
if (p/2 < α):
    print("We reject the null hypothesis")
else:
    print("We fail to reject the null hypothesis")

We fail to reject the null hypothesis

### b. Are compact cars more fuel-efficient than the average car?

In [36]:
mpg['class'].value_counts()

suv           62
compact       47
midsize       41
subcompact    35
pickup        33
minivan       11
2seater        5
Name: class, dtype: int64

In [39]:
avg_com = mpg[mpg['class']=='compact'].avg_fuel
avg_notc = mpg[mpg['class']!= 'compact'].avg_fuel

In [40]:
t,p = stats.ttest_ind(avg_com, avg_notc, equal_var = False)

In [41]:
t, p

(8.128810422808078, 1.6018060656123074e-12)

In [44]:
if ((p/2 < α) & (t >0)):
    print("We reject the null hypothesis")
else:
    print("We fail to reject the null hypothesis")

We reject the null hypothesis

### c. Do manual cars get better gas mileage than automatic cars?

In [ ]:
# H0: there is no difference in gas mileage in manual and automatic cars
# Ha: manual cars get better gas mileage than automatic cars

In [45]:
m = mpg[mpg['trans'].astype(str).str[0]=='m'].avg_fuel
a = mpg[mpg['trans'].astype(str).str[0]!='m'].avg_fuel

In [46]:
t,p = stats.ttest_ind(m,a,equal_var = False)

In [47]:
t,p

(4.443514012903071, 1.795224899991793e-05)

In [48]:
if ((p/2 < α) & (t >0)):
    print("We reject the null hypothesis")
else:
    print("We fail to reject the null hypothesis")

We reject the null hypothesis