## 1. A bank found that the average number of cars waiting during the noon hour at a drive-up window follows a Poisson distribution with a mean of 2 cars. Make a chart of this distribution and answer these questions concerning the probability of cars waiting at the drive-up window.
#### What is the probability that no cars drive up in the noon hour?

In [2]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from scipy import stats

In [6]:
λ = 1
bank = stats.poisson(λ)
bank.pmf(0)

0.36787944117144233

#### What is the probability that 3 or more cars come through the drive through?

In [10]:
bank.sf(2)

0.08030139707139418

#### How likely is it that the drive through gets at least 1 car?

In [9]:
bank.sf(0)

0.6321205588285577

## 2. Grades of State University graduates are normally distributed with a mean of 3.0 and a standard deviation of .3. Calculate the following:

#### What grade point average is required to be in the top 5% of the graduating class?

In [11]:
mean = 3
std_dev = 0.3
grades = stats.norm(mean, std_dev)

In [13]:
grades.isf(0.05)

3.4934560880854417

#### What GPA constitutes the bottom 15% of the class?

In [17]:
grades.isf(0.85)

2.69

In [18]:
# grades.cdf(0.15) --- why?

1.0494515075362604e-21

#### An eccentric alumnus left scholarship money for students in the third decile from the bottom of their class. Determine the range of the third decile. Would a student with a 2.8 grade point average qualify for this scholarship?

In [19]:
grades.isf(0.75)

2.7976530749411754

In [20]:
grades.isf(0.5)

# range of 3rd decile: 2.8-3.0

3.0

In [ ]:
# yes, 2.8 qualify for this scholarship

#### If I have a GPA of 3.5, what percentile am I in?

In [22]:
grades.cdf(3.5)

0.9522096477271853

## 3. A marketing website has an average click-through rate of 2%. One day they observe 4326 visitors and 97 click-throughs. How likely is it that this many people or more click through?

In [25]:
# binomal

n_visit = 4326
p =  0.02

click = stats.binom(n_visit, p)

In [26]:
click.pmf(97)

# 2.2%

0.02194293045437555

## 4. You are working on some statistics homework consisting of 100 questions where all of the answers are a probability rounded to the hundreths place. Looking to save time, you put down random probabilities as the answer to each question.
#### What is the probability that at least one of your first 60 answers is correct?

In [28]:
q = 100
p = 0.01
stats.binom(60, 0.01).sf(0)

0.45284335760923855

## 5. The codeup staff tends to get upset when the student break area is not cleaned up. Suppose that there's a 3% chance that any one student cleans the break area when they visit it, and, on any given day, about 90% of the 3 active cohorts of 22 students visit the break area.
#### How likely is it that the break area gets cleaned up each day?

In [58]:
p = 0.03
sperday = 0.9*66
stats.binom(sperday, p).sf(0)

0.8362274861228872

#### How likely is it that it goes two days without getting cleaned up?

In [59]:
stats.binom(sperday*2, p).cdf(1)

0.12536947648617142

#### All week?

In [64]:
stats.binom(sperday*7, p).cdf(1)

4.379695100362606e-05

## 6. You want to get lunch at La Panaderia, but notice that the line is usually very long at lunchtime. After several weeks of careful observation, you notice that the average number of people in line when your lunch break starts is normally distributed with a mean of 15 and standard deviation of 3. If it takes 2 minutes for each person to order, and 10 minutes from ordering to getting your food, what is the likelihood that you have at least 15 minutes left to eat your food before you have to go back to class? Assume you have one hour for lunch, and ignore travel time to and from La Panaderia.

In [36]:
# waittime < 45mins

mean = 30
std = 6
waittime=stats.norm(mean, std)
waittime.cdf(35)

0.7976716190363569

## 7. Connect to the employees database and find the average salary of current employees, along with the standard deviation. For the following questions, calculate the answer based on modeling the employees salaries with a normal distribution defined by the calculated mean and standard deviation then compare this answer to the actual values present in the salaries dataset.

In [38]:
from env import host, user, password

get_db_url = f'mysql+pymysql://{user}:{password}@{host}/employees'

In [47]:
query = '''
SELECT *
FROM employees JOIN salaries USING(emp_no)
WHERE to_date > NOW()
'''
emp_s = pd.read_sql(query, get_db_url)
emp_s

,emp_no,birth_date,first_name,last_name,gender,hire_date,salary,from_date,to_date
0,10001,1953-09-02,Georgi,Facello,M,1986-06-26,88958,2002-06-22,9999-01-01
1,10002,1964-06-02,Bezalel,Simmel,F,1985-11-21,72527,2001-08-02,9999-01-01
2,10003,1959-12-03,Parto,Bamford,M,1986-08-28,43311,2001-12-01,9999-01-01
3,10004,1954-05-01,Chirstian,Koblick,M,1986-12-01,74057,2001-11-27,9999-01-01
4,10005,1955-01-21,Kyoichi,Maliniak,M,1989-09-12,94692,2001-09-09,9999-01-01
...,...,...,...,...,...,...,...,...,...
240119,499995,1958-09-24,Dekang,Lichtner,F,1993-01-12,52868,2002-06-01,9999-01-01
240120,499996,1953-03-07,Zito,Baaz,M,1990-09-27,69501,2002-05-12,9999-01-01
240121,499997,1961-08-03,Berhard,Lenart,M,1986-04-21,83441,2001-08-26,9999-01-01
240122,499998,1956-09-05,Patricia,Breugel,M,1993-10-13,55003,2001-12-25,9999-01-01
240123,499999,1958-05-01,Sachin,Tsukuda,M,1997-11-30,77303,2001-11-29,9999-01-01

In [51]:
# avg salary

mean = emp_s.salary.mean()

In [52]:
# std salary

std = emp_s.salary.std()

#### a. What percent of employees earn less than 60,000?

In [53]:
s = stats.norm(mean, std)

In [54]:
s.cdf(60000)

0.24385742480214423

#### b. What percent of employees earn more than 95,000?

In [55]:
s.sf(95000)

0.09208819199804053

#### c. What percent of employees earn between 65,000 and 80,000?

In [56]:
s.cdf(80000)-s.cdf(65000)

0.3350605685446666

#### d. What do the top 5% of employees make?

In [57]:
s.isf(0.05)

100484.64454102777